body {
    margin: 0px;
}
header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
nav {
    background: #222;
    font-size: x-large;
    padding: 0 15px;
    width: 100%;
}
ul{
    list-style-type: none;
}
nav a {
    color: white;
    text-decoration: none;
}

.menus{
    display: flex;
    justify-content: space-around;
}
.menu-option{
    margin: 30px;
    border: 1px solid grey;
    border-radius: 8px;
    width: 30%;
    height: 230px;
}
.info{
    display: flex;
    border: 2px solid grey;
    border-radius: 8px;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}
.info-option{
    margin-top: 20px;
}
.price {
    justify-content: space-around;
    margin: 20px;
    font-size: large;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .menus{
        flex-direction: column;
    }
    .menu-option{
        margin: 30px;
        border: 1px solid black;
        width: 95%;
        height: 200px;
    }
    .menu-option{
        margin: 10px;
    }
    .info{
        width: 95%;
        flex-direction: column;
    }
    .info-option{
        margin: auto;
        justify-content: space-around;
    }
    .price {
        margin: 5px;
        margin-top: 20px;
    }
}

/* Buttons */

.buttons{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.loanButton{
    width: 80%;
    height: 30px;
    font-size: medium;
    background-color: #98DFB4;
    border: 0px;
    border-radius: 8px;
    margin-top: 15px;
}
.bankButton{
    margin-right: 15px;
    width: 50%;
    height: 30px;
    font-size: medium;
    background-color: #ffe121;
    border: 0px;
    border-radius: 8px;
    margin-top: 30px;

}
.workButton{
    margin-left: 15px;
    width: 50%;
    height: 30px;
    font-size: medium;
    background-color: #5579ed;
    color: white;
    border: 0px;
    border-radius: 8px;
    margin-top: 30px;

}
.buyButton{
    height: 30px;
    width: 100px;
    font-size: medium;
    background-color: #3dc9fc;
    border: 0px;
    border-radius: 8px;
    margin-top: 30px;
}
.payLoanBtn{
    height: 30px;
    width: 80px;
    font-size: medium;
    background-color: greenyellow;
    border: 0px;
    border-radius: 8px;
}

.laptop{
    height: 30px;
    font-size: medium;
    border-radius: 8px;
}

/* Images */

.image{
    width: 150px;
    height: 150px;
}

/* Mobile */
